.button {
  $b: &;

  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  width: 100%;
  cursor: pointer;
  padding: 0 toRem(24);
  gap: toRem(12);
  transition: var(--transition-all);

  &--view {
    &--primary {
      background-color: var(--main-orange);
      color: var(--main-white);

      &:hover {
        box-shadow: var(--shadow-base);
      }
    }

    &--base {
      background-color: var(--main-white);
      color: var(--main-black);

      &:hover {
        background-color: var(--main-orange);
        color: var(--main-white);
      }
    }

    &--flat {
      background-color: transparent;
      color: var(--main-black);

      &:hover {
        color: var(--main-orange);
      }
    }
  }

  &--size {
    &--s {
      height: toRem(44);
      min-width: toRem(44);
      font: var(--b1);
      border-radius: toRem(12);

      #{$b}__icon {
        font-size: toRem(30);
      }
    }

    &--m {
      height: toRem(64);
      min-width: toRem(64);
      font: var(--sh1);
      border-radius: toRem(12);

      #{$b}__icon {
        font-size: toRem(30);
      }
    }

    &--l {
      height: toRem(80);
      min-width: toRem(80);
      font: var(--b1);
      border-radius: toRem(16);

      #{$b}__icon {
        font-size: toRem(40);
      }
    }

    &--xl {
      height: toRem(92);
      min-width: toRem(92);
      font: var(--sh1);
      border-radius: toRem(16);

      #{$b}__icon {
        font-size: toRem(50);
      }
    }
  }

  &.is-disabled {
    @include disabled;
    opacity: 0.6;
  }

  &.is-only-icon {
    width: auto;
    padding: 0;
  }
}
